<!DOCTYPE html>
<html>
<head>
<!-- 	<title>Eagle Finances</title>
	<link rel='stylesheet' href='/assets/css/fontawesome.min.css' />
	<link rel='stylesheet' href='/assets/css/materialize.min.css' />
	<link rel='stylesheet' href='/assets/css/fullcalendar.min.css' />
	<link rel='stylesheet' href='/assets/css/fullcalendar.min.css' />
	<link rel='stylesheet' href='/assets/css/style.css' />
	<script src="/assets/js/moment.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
	<script src="/assets/js/cropper.min.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.mask.js"></script>
	<script src="/assets/js/materialize.min.js"></script>
	<script src="/assets/js/fullcalendar.min.js"></script>
	<script src="/assets/js/main.js"></script>
	
	<meta name="viewport" content="width=device-width, user-scalable=no"> -->
</head>
<body class="row primary">
	<input type="hidden" value="<%= usuario.id %>" name="id_usuario_sessao">
	<input type="hidden" value="<%= usuario.hash_login %>" name="hash_usuario_sessao">
	<input type="hidden" value="<%= usuario.nivel %>" name="nivel_usuario_sessao">
	<div class="error_ajax none">Você parece ter se disconectado, tentando reconectar...</div>
	<!-- Modal Structure -->
	<div id="modaldeletar" class="modal" style="overflow: hidden;">
		<div class="modal-content">
			<b><p style="text-align: center;" id="texto">Remover</p></b>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col s12 m6">
					<a style="width: 100%; text-align: center;" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey lighten-2">Cancelar</a>
				</div>
				<div class="col s12 m6">
					<form method="POST" action="">
						<input id="id" type="hidden" name="id">
						<input type="hidden" name="deletado" value="1">
						<button style="width: 100%; text-align: center;" class="modal-action modal-close waves-effect waves-green btn-flat red lighten-2 white-text ajax-submit-delete"
						data-href=""
						data-action=""
						>Excluir</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modalinfo" class="modal">
		<div class="modal-content">
		</div>
	</div>
	<div class="loader none">
		<i class="fas fa-spinner fa-pulse fa-5x fa-fw"></i>
		<!-- <span class="sr-only">Loading...</span> -->
	</div>
	<header class="col s12 primary" style="z-index: 3;background:#000;">
		<nav>
			<div class="nav-wrapper">

				<div class="center-align">
					<a class="ajax-load" href="/sistema/">
						<!-- <img class="header_logo" src="/assets/imgs/logo-white.png"> -->
						<img class="header_logo" src="https://media.giphy.com/media/JPVQ7yonRZJbtGQGUE/giphy.gif">
					</a>
					<a data-target="slide-header" class="left sidenav-trigger">
						<i class="fa fa-bars"></i>
					</a>
					<a class="ajax-load" href="/sistema/perfil">
						<div class="img-user">
							<img src="/assets/imgs/user-padrao.jpg">
						</div>
					</a>
					
					
				</div>
			</div>
		</nav>
	</header>
	
	<ul id="slide-header" class="sidenav primary">
		<%- include('menu_header'); %>
	</ul>
	