<li>
	<a class="ajax-load" href="/sistema/">
		<i class="fas fa-home"></i> Início
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/investimento">
		<i class="fas fa-clipboard-list"></i> Meus Investimentos
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/financeiro">
		<i class="fas fa-dollar-sign"></i> Financeiro
	</a>
</li>

<%
if (usuario.nivel == 0 || usuario.nivel == 3 ) { %>

<li>
	<a class="ajax-load" href="/sistema/coaching">
		<i class="fas fa-book-reader"></i> Coaching
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/cursos">
		<i class="fas fa-laptop"></i> Cursos
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/club">
		<i class="fas fa-user-tie"></i> Eagle Club
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/projetos_sociais">
		<i class="fab fa-pagelines"></i> Projetos Sociais
	</a>
</li>

<li>
	<a class="ajax-load" href="/sistema/estatisticas">
		<i class="fas fa-chart-pie"></i> Estatísticas
	</a>
</li>

<% } %>

<%
if (usuario.nivel == 1 || usuario.nivel == 2) { %>


<li>
	<a class="ajax-load" href="/mobsmart/agenda">
		<i class="fas fa-calendar"></i> Agenda
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/coachees">
		<i class="fas fa-user-friends"></i> Coachees
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/suporte">
		<i class="fas fa-question"></i> Suporte
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/coaching">
		<i class="fas fa-book-reader"></i> Coaching
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/simulador">
		<i class="fas fa-chart-line"></i> Simulador
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/comissoes">
		<i class="fas fa-comments-dollar"></i> Comissões
	</a>
</li>

<li>
	<a class="ajax-load" href="/sistema/estatisticas">
		<i class="fas fa-chart-pie"></i> Estatisticas
	</a>
</li>

<% } %>



<%
if (usuario.nivel == 4 || usuario.nivel == 5) { %>



<li>
	<a class="ajax-load" href="/sistema/agenda">
		<i class="fas fa-calendar"></i> Agenda
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/coachees">
		<i class="fas fa-user-friends"></i> Coachees
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/suporte">
		<i class="fas fa-question"></i> Suporte
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/simulador">
		<i class="fas fa-chart-line"></i> Simulador
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/administracao">
		<i class="fas fa-tools"></i> Administração
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/comissoes">
		<i class="fas fa-comments-dollar"></i> Comissões
	</a>
</li>

<li>
	<a class="ajax-load" href="/sistema/estatisticas">
		<i class="fas fa-chart-pie"></i> Estatisticas
	</a>
</li>

<% } %>



<li>
	<a class="logout ajax-load-back" href="/mobsmart/api/loginagain" onclick="return confirm('Você deseja sair?');">
		<i class="fas fa-sign-out-alt"></i> Sair
	</a>
</li>