
<li>
	<a class="ajax-load" href="/sistema/">
		<i class="fas fa-clipboard-list"></i> Meu Plano
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/configuracoes">
		<i class="fas fa-dollar-sign"></i> Financeiro
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/usuarios">
		<i class="fas fa-book-reader"></i> Coaching
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/usuarios">
		<i class="fas fa-laptop"></i> Cursos
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/usuarios">
		<i class="fas fa-user-tie"></i> Eagle Club
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/usuarios">
		<i class="fab fa-pagelines"></i> Projetos Sociais
	</a>
</li>
<li>
	<a href="/logout">
		<i class="fas fa-sign-out-alt"></i> Sair
	</a>
</li>