
						  <li>
						  	<a class="ajax-load" href="/sistema/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
						  </li>
						  <li>
						  	<a class="ajax-load" href="/sistema/configuracoes"><i class="fa fa-cogs" aria-hidden="true"></i> Configurações</a>
						  </li>
						  <li>
						  	<a class="ajax-load" href="/sistema/usuarios"><i class="fa fa-users" aria-hidden="true"></i> Usuários</a>
						  </li>
						  <li>
						  	<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
						  </li>