<%
if (usuario.nivel == 0 || usuario.nivel == 3 ) { %>


<li>
	<a class="ajax-load" href="/sistema/">
		<i class="fas fa-home"></i> Início
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/investimento">
		<i class="fas fa-clipboard-list"></i> Meus Investimentos
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/financeiro">
		<i class="fas fa-dollar-sign"></i> Financeiro
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/coaching">
		<i class="fas fa-book-reader"></i> Coaching
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/cursos">
		<i class="fas fa-laptop"></i> Cursos
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/club">
		<i class="fas fa-user-tie"></i> Eagle Club
	</a>
</li>
<li>
	<a class="ajax-load" href="/sistema/projetos_sociais">
		<i class="fab fa-pagelines"></i> Projetos Sociais
	</a>
</li>

<li>
	<a class="ajax-load" href="/sistema/estatisticas">
		<i class="fas fa-chart-pie"></i> Estatísticas
	</a>
</li>

<% } %>

<li>
	<a href="/logout">
		<i class="fas fa-sign-out-alt"></i> Sair
	</a>
</li>