<div class="col s12 center">
	<div class="titulo_inicio">Adicionar Aviso</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
		
		
		<form method="POST" action="" enctype="multipart/form-data">
			
			
			<div class="card light row">
				
				
				<div class="input-field col s12">
					<label for="aviso">Aviso</label>
					<input class="validate" type="text" name="aviso">
				</div>
				
				<div class="input-field col s12">
					<label for="descricao">Descrição(Não Obrigatório)</label>
					<textarea name="descricao"></textarea>
				</div>
				
				<div class="input-field col s12">
					<span>Mostrar para:</span>
					
					<select name="id_nivel">
						
						<option value="99" selected>Todos</option>
						<option value="0">Coachee</option>
						<option value="1">Coach</option>
						<option value="2">Manager</option>
						<option value="3">Investidor</option>
						<option value="4">Coordenação</option>
						<% if(usuario.nivel == 5) { %>
							<option value="5">Administrador</option>
							<% } %>
							
						</select>
					</div>
					
					
					
					
					<button data-href="/sistema/administracao/aviso/cadastrar" data-action="<%= data.link_sistema%>/administracao/avisos/" class="btn secondary ajax-submit margin-b-10">
						Salvar <i class="far fa-save-o" aria-hidden="true"></i>
					</button>
					
					
					
				</div>
			</form>
			
			
			
			
			
			<%}else{%>
				<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
				<%}%>
				
			</div>