
<div class="col s12 center">
	<div class="titulo_inicio">Simulador</div>
	
	<div class="card light">
		

		<div class="overlay_blur"></div>
		<div class="overlay_box">
			<div class="overlay_descricao">
				Você não possuí dados suficientes para visualizar essa página!
			</div>
			<div class="center margin-t-10">
				<a class="btn light ajax-load" href="<%= data.link_sistema%>">OK</a> 
			</div>
		</div>
		
		<div class="input-field col s12">
			<label for="qtd_coachees">Quantidade de Coachees</label>
			<input type="number" name="qtd_coachees" required="true">
		</div>
		
		
		<div class="Input-field col s12">
			<label>Perfil do(s) Coachee(s)</label>
			<select class="browser-default">
				<option selected>Conservador</option>
				<option>Moderado</option>
				<option>Arrojado</option>
				<option>Agressivo</option>
			</select>
		</div>
		
		<div class="input-field col s12">
			<label>Valor Médio</label>
			<input>
		</div>
		
		<a class="btn light margin-b-10">Calcular Valor</a>
		
		
	</div>
	
	
</div>









