<div class="col s12 center">
		<div class="titulo_inicio">Adicionar Coaching</div>
		
		
		<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
			
			
			<form method="POST" action="" enctype="multipart/form-data">
				
				
				<div class="card light row">
		
					
					<div class="input-field col s12">
						<label for="titulo">Título</label>
						<input class="validate" type="text" name="titulo">
					</div>
					
					<div class="input-field col s12">
						<label for="descricao">Descrição</label>
						<textarea class="validate" name="descricao"></textarea>
					</div>
					
					<button data-href="/sistema/administracao/coaching/cadastrar" data-action="/sistema/administracao/coaching/" class="btn secondary ajax-submit margin-b-10">
						Salvar <i class="far fa-save-o" aria-hidden="true"></i>
					</button>
					
					
					
				</div>
			</form>
			
			
			
			
			
			<%}else{%>
				<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
				<%}%>
				
			</div>