<div class="col s12 center">
	<div class="titulo_inicio">Administração</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>
		
		
		<div class="card secondary">
			
			
			<div class="equal-columns margin-b-10">
				<div class="col s6">
					<a href="/sistema/administracao/noticias" class="ajax-load btn light btn-full-width">
						Noticias
					</a>
				</div>
				
				<div class="col s6">
					<a href="/sistema/administracao/avisos" class="ajax-load btn light btn-full-width">
						Avisos 
					</a>
				</div>
				
			</div>
			
			<div class="equal-columns margin-b-10">
				
				<div class="col s6">
					<a href="" class="ajax-load btn light btn-full-width">
						Item Plus Eagle Club
					</a>
				</div>
				
				<div class="col s6">
					<a href="" class="ajax-load btn light btn-full-width">
						Eventos Eagle Club						
					</a>
				</div>
				
			</div>
			
			<div class="equal-columns margin-b-10">
				
				<div class="col s6">
					<a href="/sistema/administracao/usuarios" class="ajax-load btn light btn-full-width">
						Usuário
					</a>
				</div>
				
				<div class="col s6">
					<a href="" class="ajax-load btn light btn-full-width">
						Agenda
					</a>
				</div>
			</div>
			
			<div class="equal-columns margin-b-10">
				
				<div class="col s6">
					<a href="" class="ajax-load btn light btn-full-width">
						Ganhos Investimento(s) Mensal
					</a>
				</div>
				
				
				<div class="col s6">
					<a class="ajax-load btn light btn-full-width">						
						Porcentagem de Ganho Usuários
					</a>
				</div>
			</div>
			
			<div class="equal-columns margin-b-10">
				<div class="col s6">
					<a href="/sistema/administracao/coaching" class="ajax-load btn light btn-full-width">
						Coaching
					</a>
				</div>
				
				
				<div class="col s6">
					<a href="" class="ajax-load btn light btn-full-width">					
						Cursos
					</a>
				</div>
			</div>
			
			<div class="equal-columns margin-b-10">
				<div class="col s6">
					<a  class="ajax-load btn light btn-full-width">
						Projetos Sociais
					</a>
				</div>
			</div>
			
			
			
		</div>
		
		
		
		
		<%}else{%>
			<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
			<%}%>
			
		</div>