<div class="contrato_modal">

	<div class="contrato_container">
		<p><b>MINUTA DE CONTRATO DE PRESTAÇÃO DE SERVIÇOS  DE GERENCIAMENTO DE COMPRA E VENDA  DE ATIVOS CRIPTOGRAFICOS Nº</b></p>


		CLIENTE CONTRATANTE: Inscrito no CPF nº..., residente e domiciliado em///, doravante simplesmente denominado CLIENTE CONTRATANTE. 
		PRESTADORA CONTRATADA: EAGLE FINANCES ATITUDE ASSESSORIA DE MARKETING E NETWORK LTDA  Consultoria em serviços digitais, inscrita no CNPJ 27.603.882/0001-36,  doravante simplesmente denominada PRESTADORA CONTRATADA.
		As partes acima qualificadas, ambas civilmente capazes, tem por bem na melhor forma de direito firmar o presente CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE GERENCIAMENTO DE  COMPRA E VENDA DE ATIVOS CRIPTOGRAFICOS, conforme as cláusulas a seguir:
		CLÁUSULA I – DEFINIÇÕES
		I.	Cliente ativo – Pessoa física ou jurídica que fornece a quantidade de ATIVOS CRIPTOGRAFICOS iniciais para o início das operações de compra e venda, que ficarão em custódia da PRESTADORA CONTRATADA.
		II.	Cliente Inativo – Pessoa física ou jurídica que não possui ATIVOS CRIPTOGRAFICOS para as operações de gerenciamento de compra e venda em custódia da PRESTADORA CONTRATADA.
		III.	PRESTADORA CONTRATADA – Empresa  capacitada para a realização de compra e venda de ATIVOS CRIPTOGRAFICOS em diversas plataformas de operações.
		IV.	REPRESENTANTE COMERCIAL – Profissional autônomo, treinado, capacitado devidamente cadastrado junto a Prestadora de Serviços, responsável por levar ao cliente, as informações dos processos realizados pela PRESTADORA CONTRATADA.
		V.	ATIVOS CRIPTOGRAFICOS- Ativos digitais transacionados pela internet através de um sistema conhecido como blockchain que garante sua segurança. Considerada pela PRESTADORA CONTRATADA e pelos órgãos públicos como PRODUTO.
		VI.	PLATAFORMA DE OPERAÇÃO – São sites ou exchanges onde são realizadas a compra e venda de ATIVOS CRIPTOGRAFICOS.
		VII.	APORTE INICIAL – A quantidade inicial de ATIVOS CRIPTOGRAFICOS  transferidos para a carteira digital da PRESTADORA CONTRATADA. O ATIVO CRIPTOGRAFICO escolhido para tal transferência inicial será aquela de comum acordo entre as partes   do presente contrato. No caso do CLIENTE CONTRATANTE não possuir ATIVOS CRIPTOGRAFICOS disponíveis para a realização do aporte inicial, o representante comercial poderá auxiliá-lo na compra destes em casa de câmbio, exchange ou adquiri-lo junto a PRESTADORA CONTRATADA. No caso de aquisição de ativos criptográficos junto a PRESTADORA CONTRATADA, este deverá ser realizado mediante transferência bancária(TED) na conta bancária da PRESTADORA CONTRATADA.
		VIII.	Data da ativação – A data de verificação através do setor financeiro da PRESTADORA CONTRATADA, onde verifica o aporte em ATIVOS CRIPTOGRAFICOS, comparando com comprovantes enviados através de plataforma da PRESTADORA CONTRATADA, podendo esta data ser efetivada entre 48(quarenta e oito) e 120(cento e vinte) horas.
		IX.	APORTE EXTRA – A quantidade extra de ATIVOS CRIPTOGRAFICOS transferidos para a carteira digital da PRESTADORA CONTRATADA o qual possui aporte inicial.
		X.	ADENDO – Relatório de aportes iniciais, aportes extras e movimentação de resgates parciais e integrais.

		CLÁUSULA II - REGRAS GERAIS DE CONTRATAÇÃO DO SERVIÇO
		O cadastramento online do CLIENTE CONTRATANTE com o auxílio do REPRESENTANTE COMERCIAL junto ao site da PRESTADORA CONTRATADA,  precede este contrato e deve obedecer as seguintes regras:
		a)	Ser maior e civilmente capaz: entende-se capacidade civil aquela compreendida no ordenamento jurídico vigente no país;
		b)	Ter capacidade plena e cognitiva para reger sua vida, seus bens e sua aptidão para atos de vida civil;
		c)	Ser detentor do documento de identificação oficial do país, como carteira de identidade, habilitação, carteira profissional, passaporte oficial original com data de validade regular e/ou outro documento oficial válido;
		d)	Fornecer todos os dados pessoais solicitados pelo REPRESENTANTE COMERCIAL;
		e)	Realizar a transferência  da quantidade de ATIVOS CRIPTOGRAFICOS correspondente ao valor em reais preenchido no cadastro online;
		f)	Fica o CLIENTE CONTRATANTE ciente que após 5(cinco) dias do cadastramento do mesmo, não havendo transferência de ATIVOS CRIPTOGRAFICOS para carteira digital, a qualquer momento, a julgamento da PRESTADORA CONTRATADA, o respectivo cadastro poderá ser anulado;
		g)	O CLIENTE CONTRATANTE deverá acessar a área exclusiva no site www.eagle.finances utilizando login e a senha cadastrada. Nesta área exclusiva, poderá fazer o acompanhamento do ganho de capital, correspondente a quantidade de ATIVOS CRIPTOGRAFICOS aportados, tendo como base seus valores em REAIS.
		h)	Constitui condição essencial para ATIVAÇÃO do CLIENTE CONTRATANTE o acesso e criação de senha através do link de ativação disponibilizado pelo REPRESENTANTE COMERCIAL.
		i)	O NÃO CUMPRIMENTO de alguma das condições acima enseja o não aperfeiçoamento do presente contrato, o qual não surtirá efeitos nem outorgará ao cliente contratante o status de CLIENTE ATIVO.





		CLÁUSULA III – DO OBJETO CONTRATADO
		O presente contrato tem por objetivo a contratação, por parte do CLIENTE CONTRATANTE, dos serviços de gerenciamento de compra e venda de ATIVOS CRIPTOGRAFICOS diversos, em plataformas de operação visando proporcionar um ganho de capital de acordo com a ficha cadastral assinalada na opção escolhida e assinada pelo CLIENTE CONTRATANTE,  no prazo de um mês do status em CLIENTE ATIVO, incidente sobre o aporte inicial e aporte extra, tendo como báse seu valor em reais, que estão discriminados em adendo que faz parte integrante do presente instrumento.
		O presente contrato reger-se-á da seguinte forma:
		a)	O gerenciamento de compra e venda de ATIVOS CRIPTOGRAFICOS será realizado em sites e exchanges escolhidas pela PRESTADORA CONTRATADA, com o consentimento do CLIENTE CONTRATANTE por meio deste.
		b)	Os ATIVOS CRIPTOGRAFICOS escolhidos para compra e venda serão selecionados a julgamento da prestadora contratada sem interferência do CLIENTE CONTRATANTE, visando maximizar os resultados das operações.
		c)	Em caso de solicitação do valor integral do aporte, o status do cliente passa de CLIENTE 	ATIVO PARA CLIENTE INATIVO e não serão mais realizadas as operações para o CLIENTE CONTRATANTE até haver aporte extra.
		d)	Em caso de solicitação de valor parcial do aporte a quantia restante garantirá 	que o CLIENTE CONTRATANTE permaneça com status de CLIENTE ATIVO(desde que o valor mínimo de investimento em carteira, em vigência seja mantido) e seus rendimentos terão como base o valor em reais remanescentes na plataforma da PRESTADORA CONTRATADA.
		e)	Os aportes ATIVOS, realizados pelo CLIENTE CONTRATANTE, serão garantidos conforme tabela abaixo pela PRESTADORA CONTRATADA.

		PERFIL	MEDIA	TETO	GARANTIA
		CONSERVADOR	1,5 %	ATÉ 2%	100%
		MODERADO	2,8 %	ATÉ  3%	  50%
		ARROJADO	5 %	ATÉ  7%	  25 %
		AGRESSIVO	8 % 	ATÉ 10 %	   0 %


		CLÁUSULA IV – DA VIGÊNCIA E RENOVAÇÃO CONTRATUAL

		Este contrato terá período de vigência de 01(hum) mês, a contar de a partir da data de status de CLIENTE ATIVO.
		Permanecendo os ATIVOS CRIPTOGRAFICOS em custódia da PRESTADORA CONTRATADA após o período de vigência, o presente contrato renovar-se-á automaticamente, sendo todas as cláusulas aqui contratadas, ratificadas, sendo o valor do APORTE INICIAL atualizado de acordo com o ganho de capital.
		Consolidando a renovação, o ganho de capital pré-definido através de contrato ou adendo, poderá sofrer alteração nos meses subsequentes ao da contratação, caso em que a PRESTADORA CONTRATADA, informará ao CLIENTE CONTRATANTE o percentual alcançado ou estabelecido no mês.
		A PRESTADORA CONTRATADA permanecerá de posse dos ATIVOS CRIPTOGRAFICOS transferidos pelo CLIENTE CONTRATANTE, podendo, porém, este solicitar resgate respeitando a janela de solicitação de saque que vai do  primeiro dia do mês até o dia 05(cinco) desse mesmo mês. Se aplica a mesma sistemática aos APORTES EXTRAS caso seja inferior a 1(hum) mês.
		Limite mensal de solicitação de resgate será de uma vez em um mês sendo repassado o valor dos custos de operação, conforme valores vigentes pelas exchanges e instituições bancárias.
		Após completar a vigência de um mês do presente contrato o CLIENTE CONTRATANTE poderá, dentro da janela de saque, solicitar o resgate, parcial ou integral de seus ATIVOS CRIPTOGRAFICOS acrescidos do ganho de capital.
		Após solicitação de resgate, parcial ou integral feita pelo  CLIENTE CONTRATANTE, a PRESTADORA CONTRATADA possui prazo do dia 10(dez) até o dia 15(quinze) de cada mês para concluir a operação de resgate.
		Quando da solicitação de saque, o cliente receberá em ATIVOS CRIPTOGRAFICOS, este através de sua carteira digital a ser realizada somente em nome do CLIENTE CONTRATANTE.


		CLÁUSULA V – DA RESCISÃO OU DESISTÊNCIA

		Caso não haja interesse de renovação por parte da PRESTADORA CONTRATADA, a mesma deve comunicar o CLIENTE CONTRATANTE com no máximo 5(cinco dias) úteis de antecedência ao término do contrato vigente, sem necessidade de justificativa. O resgate dos ATIVOS CRIPTOGRAFICOS deverá ser realizado em sua integralidade  incluindo o ganho de capital.
		Não havendo interesse de renovação por parte do CLIENTE CONTRATANTE, o mesmo deverá solicitar o resgate integral dos ATIVOS CRIPTOGRAFICOS, incluindo o ganho de capital correspondente, sem necessidade de justificativa, ficando nesse caso, como CLIENTE INATIVO.
		O CLIENTE CONTRATANTE tem o prazo de elucubração 7(sete) dias corridos a contar a data de outorga do status do CLIENTE ATIVO, para desistência de acordo com a legislação vigente.

		CLÁUSULA VI – DOS ENCARGOS E IMPOSTOS

		As partes convencionam que, caberá ao CLIENTE CONTRATANTE a responsabilidade exclusiva pela informação, preenchimento tributário e o recolhimento de todos os tributos incidentes sore o ganho de capital que tiver, obrigando a estar regularmente em dia com a legislação vigente no país. 
		A EMPRESA CONTRATADA caso seja de interesse do CLIENTE CONTRATANTE poderá indicar profissionais  capacitados para auxiliar e dirimir quaisquer dúvidas sobre informações acerca da tributação de seu ganho de capital, sendo o custo a ser suportado pelo CLIENTE CONTRATANTE e a EMPRESA CONTRATADA não se responsabiliza por tais informações.                          
		A EMPRESA CONTRATADA se exime de quaisquer tributações, multas ou qualquer tipo de imposição do poder público, sobre a não declaração/informação do ganho de capital do CLIENTE CONTRATANTE. 
		Os encargos operacionais com a compra e venda de diferentes ATIVOS CRIPTOGRAFICOS, transferências entre carteiras da PRESTADORA CONTRATADA, transferências entre plataformas online e exchanges, serão todas de responsabilidade da PRESTADORA CONTRATADA, não tendo o CLIENTE CONTRATANTE que arcar com alguma despesa referente aos processos internos da empresa.

		.
		CLÁUSULA VII – ANTICORRUPÇÃO

		As partes declaram e se comprometem, sob as penas da lei que:
		a)	Procederão de acordo com os preceitos éticos e legais previstos na legislação pátria, sobretudo em respeito a lei ANTICORRUPÇÃO  não incidindo  em nenhum ato ilícito, de corrupção, ou que possa caracterizar uma vantagem indevida na relação com órgãos públicos nacionais e internacionais, bem como em práticas lesivas à concorrência.
		b)	Estabelecerão por força do presente instrumento, diretrizes básica para não configuração de qualquer ato ilícito regulamentado pela  legislação vigente do país, devendo para tanto para o CLIENTE  CONTRATANTE entregar à PRESTADORA CONTRATADA duas vias do respectivo contrato assinado.
		c)	As partes devem manter práticas de controle de normas legais e regulamentares, cumprindo as políticas e as diretrizes estabelecidas para o negócio e para as atividades da empresa, bem como evitar, detectar e tratar qualquer desvio ou inconformidade que possa ocorrer.
		d)	A parte que desrespeitar os incisos acima e vier a ser responsabilizada pelas autoridades, arcará sozinha com as penalidades decorrentes de ato praticado. Caso uma das partes venha a ser condenada por ato praticado pela outra, terá o direito de ser ressarcida das perdas, danos e prejuízos sofridos, acrescidos de juros e cominações legais. 

		CLÁUSULA VIII – DAS ALTERAÇÕES CONTRATUAIS
		O presente instrumento poderá ser alterado sempre que a PRESTADORA CONTRATADA julgar necessário, visando adequação as mudanças de mercado, podendo promover alterações no presente contrato, na forma de adendo, bem como no site, independente de prévio aviso. Caso ocorra, o CLIENTE CONTRATANTE será informado pela PRESTADORA CONTRATADA para que possa decidir sobre a continuidade ou não da prestação de serviços.
		Caso haja alteração que afete o objeto do presente contrato a PRESTADORA CONTRATADA deverá comunicar as alterações ao CLIENTE CONTRATANTE, no prazo máximo de 7(sete) dias de antecedência da renovação contratual, momento em que o CLIENTE CONTRATANTE terá o arbítrio de decidir sobre a continuidade ou rescisão do presente contrato.

		CLÁUSULA IX – DA SUCESSÃO
		No caso de impedimento legal do CLIENTE CONTRATANTE, a PRESTADORA CONTRATADA responderá somente ao representante judicialmente nomeado.
		No caso de morte do CLIENTE CONTRATANTE o sucessor(es) se torna(rão) responsável(eis) pelos direitos e deveres do contrato. Consolidado a condição descrita no item anterior, caberá a justiça delegar o(s) herdeiro(s) ou sucessor legal que assumirá os direitos e deveres do presente contrato.

		CLÁUSULA X – DA CONFIDENCIALIDADE
		As partes reconhecem que o vínculo estipulado neste contrato esta baseado em uma relação de sigilo e confiança recíproca.
		As partes declaram e garantem que esta relação contratual irá infligir obrigação de sigilo.

		CLÁUSULA XI – CRIMES DE “LAVAGEM” OU OCULTAÇÃO DE BENS

		A EMPRESA CONTRATADA através de um compliance interno, transmitirá para sua contabilidade todos os dados de CLIENTES ATIVOS e APORTES ATIVOS dos ATIVOS CRIPTOGRAFICOS E SEUS RESPECTIVOS ganhos de capital, utilizando como base a LEI N 9.613, na qual dispões dos crimes de “lavagem” ou ocultação de bens, direitos e valores.

		CLÁUSULA XII – DISPOSIÇÕES GERAIS
		O CLIENTE CONTRATANTE declara que as informações cadastrais prestadas ao REPRESENTANTE COMERCIAL, são a expressão da verdade. DECLARA ainda, que tomou conhecimento de todas as cláusulas deste instrumento e que está perfeitamente ciente e esclarecido quanto ao objeto do presente contrato e dos direitos e deveres aqui contidos, estando plenamente de acordo, tendo aderido com absoluta liberdade de manifestação de vontade.
		Quaisquer dúvidas ou reclamações concernentes ao objeto do presente contrato deverão ser efetuadas imediatamente ao REPRESENTANTE COMERCIAL.
		Faz parte integrante do presente contrato, adendo que conterá o relatório de aportes iniciais, aportes extras e movimentação de resgastes parciais e integrais, cujo documento servirá para informar ao fisco seus ganhos de capital durante a vigência do presente instrumento.

		CLÁUSULA XIII – FORO
		As partes elegem o foro da cidade de Caxias do Sul /RS com renúncia expressa a qualquer outro, por mais privilegiado que seja, para dirimir quaisquer dúvidas ou questões relativas a este contrato ou decorrente dele.
		Estando as partes justas e contratadas reciprocamente CLIENTE CONTRATANTE E PRESTADORA CONTRATADA, aperfeiçoa-se este instrumento, em duas vias de igual teor e forma, juntamente com as testemunhas abaixo.

		Caxias do Sul/RS, .........
		___________________                           ______________________
		Cliente                                            ATITUDE SERVIÇOS DE MARKETING E NETWORK LTDA
		EAGLE FINANCES
		TESTEMUNHAS:

		________________                               ____________________

	</div>

</div>