<div class="col s12 center">
	<div class="titulo_inicio">Todas Noticias</div>
	
	<%
	if (typeof data.noticias != 'undefined' && data.noticias.length > 0) {
		for (var i = data.noticias.length - 1; i >= 0; i--) { %>
			
			<div class="col s6">
				<div class="card light">                    
					
					<div class="card-image">
						<a>
							<img src="<%= data.noticias[i].arquivo %>" >
						</a>
					</div>
					<div class="card-content">
						<div class="titulo_inicio_noticia">
							<%= data.noticias[i].titulo %>
						</div>
						<div class="descricao_inicio_noticia limitador_3_linhas center">
							<%= data.noticias[i].descricao %>
						</div>
						<a class="ajax-load" href="/sistema/inicio/ver_noticia/<%= data.noticias[i].id %>">
							Leia mais ...
						</a>                            
					</div>
				</div>
			</div>
			
			
			<%}
		}else{ %>
			<div class="col s12">
				Não há noticias no momento
			</div>			
			<%}%>
			
			
			
			
			
			
			
		</div>