<div class="col s12 center">

	<div class="card light">                    
		
		<div class="card-image">
			<a>
				<img src="<%= data[0].arquivo %>" >
			</a>
		</div>
		<div class="card-content">
			<div class="titulo_inicio_noticia">
				<%= data[0].titulo %>
			</div>
			<div class="descricao_inicio_noticia center">
				<%= data[0].descricao %>
			</div>
			
		</div>
		
	</div>
	
</div>