<div class="col s12 center curso_container">
	<div class="titulo_inicio">Cursos(em desenvolvimento)</div>

	<div class="col s12">
		<div class="card primary lighten-2">
			Introdução ao mercado financeiro
		</div>
	</div>

	<div class="col s12">
		<div class="card primary lighten-2">
			Bolsa de Valores
		</div>
	</div>

	<div class="col s12">
		<div class="card light darken-1">
			Criptomoedas
		</div>
	</div>

	<div class="col s12">
		<div class="card light darken-1">
			Forex
		</div>
	</div>
</div>


