
<div class="col s12 center">
	<div class="titulo_inicio">Meus Investimentos</div>
	
	<div class="card light">
		
		<table class="table-full-width">
			<thead>
				<tr>
					<th>Perfil</th>
					<th>Aporte Total</th>
					<th>Primeiro Aporte</th>
					<th>Rendimento Líquido</th>
				</tr>
				
			</thead>
			<tbody>
				<%
				if (typeof data.investimentos != 'undefined' && data.investimentos.length > 0) {
					for (var i =0; i < data.investimentos.length; i++) { %>
						<tr>
							<td><%= data.investimentos[i].nome %></td>
							<td>R$<%= data.investimentos[i].aporte_total %></td>
							<td><%= data.investimentos[i].data_cadastro %></td>
							<td>R$<%= data.investimentos[i].rendimento %></td>
						</tr>
						<%}
					}else{%>
						<tr>
							<td class="center" colspan="4">Você ainda não possui investimentos!</td>
						</tr>
						<%} %>
					</tbody>
				</table>
			</div>
			
		</div>
		
		
		