@font-face {
	font-family: cinzel;
	src: url('/assets/fonts/cinzel/Cinzel-Regular.otf');
}

@font-face {
	font-family: cinzel;
	src: url('/assets/fonts/cinzel/Cinzel-Bold.otf');
	font-weight: bold;
}

html,body,main{
	min-height: 100%;
	height: 100%;
}
body > div.row .col {
	padding: 0;
}

body{
	font-family:cinzel;
}

/*Ínicio Cabeçalho*/

nav {
	box-shadow: 0 0 black;
	height: 100%;
	background-color: transparent;
}

header { 
	z-index: 2;
	height: 100%;
	min-height: 100%;
	position: fixed;
	width: 100%;
	max-height: 60px;
}


header .header_logo{
	height: 50px;
	margin-top: 5px;
}

header .sidenav-trigger{
	margin-top: 5px;
	position: absolute;
	left: 0;
/*	right: 0;*/
}

header .sidenav-trigger i{
	font-size:25pt;
}


header .img-user{
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	width: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	
}

header .img-user img{
	height: 100%;
	width: 100%;	
}

/*Fim Cabeçalho*/

/* MEDIA QUERY */
@media (max-width: 993px) 
{

	header #big-nav {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -110px;
	}
}

@media (min-width: 992px){
	main{
		margin-top: 0;
	}
}




main{
	margin-top: 60px;
	display: inline-block;
	width: 100%;
}

/*Ínicio Utilitários*/

.none {
	display: none;
}

.modal-mount {
	cursor: pointer;
}

.light{
	background:#f4f5f8;
	color: #000000;
}


.btn.light:hover{
	background-color: #cfd2dc;
}


.light.darken-1{
	background:#dadada;
	color: #000000;
}

.btn-full-width{
	width: 100%;
}



.primary{
	background:#2f3035;
	color: #ffffff;
}

.btn.primary:hover{
	background-color: #444654;
}

.primary.lighten-2{
	background:#5c5d63;
	color: #ffffff;
}

.secondary{
	background:#161616;
	color: #ffffff;
}

.btn.secondary:hover{
	background-color: #353535;
}

.tertiary{
	background:#dac164;
	color: #000000;
}

.margin-t-10{
	margin-top: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}

.margin-l-10{
	margin-left: 10px;
}

.margin-r-10{
	margin-right: 10px;
}

.margin-t-2rem{
	margin-top: 2rem;
}


.padding-20{
	padding: 20px!important;
}
.padding-t-10{
	padding-top:10px;
}

.padding-r-10{
	padding-right:10px;
}

.padding-b-10{
	padding-bottom:10px;
}

.padding-l-10{
	padding-left:10px;
}




/*Fim Utilitários*/

.dropdown-content {
	overflow: hidden;
	min-width: 195px;
	left: 70% !important;
}

#modaldeletar {
	z-index: 1007 !important;
}

#modaldeletar p{
	color: #000000;
}

.error {
	position: absolute;
	bottom: -18px;
	right: 5px;
	background-color: #ff3526;
	color: #fff;
	padding: 2px 10px;
	max-width: 110px;
	border-radius: 5px;
	box-shadow:1px 3px 8px -3px #c71b0f;
}

.error_ajax {
	position: fixed;
	z-index: 9999;
	color: #fff;
	background-color: #d00000;
	border-radius: 9px 0 9px 9px;
	padding: 5px;
	right: 0;
}
/* Estilos do site */

/* Estilos do sistema */
.nav-wrapper .fas {
	font-size: 1.2em;
}


.loader {
	position: fixed;
	background-color: rgba(232, 232, 232, 0.59);
	width: 100%;
	height: 100%;
	z-index: 999;
}
.loader i {
	position: absolute;
	top: 50%; 
	left: 50%; 
	margin-top: -35px; 
	margin-left: -35px; 
}

.overlay_blur{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	background: rgba(0, 0, 0, 0.76);
}

.overlay_box{
	position: absolute;
	border: 2px solid #fff;
	padding: 10px;
	top: 40%;
	z-index: 101;
	width: 90%;
	left: 5%;
	box-shadow: 0px 2px 5px 1px #ffffff;
}


.overlay_descricao{
	color: #fff;
	font-size: 15pt;
	text-shadow: 2px 2px 10px #fff;

}

.equal-columns{
	display: flex;
	width:100%;
}

.equal-columns .col{
	flex: 1;
}

.equal-columns .btn{
	line-height:24px;
	height: 100%;
}

.equal-columns .content-columns{
	padding: 0;
}

.equal-columns .content-columns:nth-child(odd) + .content-columns:nth-child(even){
	margin: 0 0 5px 10px;
}

.equal-columns .content-columns:nth-child(odd){
	margin: 0 10px 5px 0;
}

/*	margin: 0 10px 5px 0;*/

table td {
	border-radius: 0 !important;
}

.limitador_3_linhas{
	max-height: 60px;
	overflow: hidden;
	display: block;
}


.break-all{
	word-break: break-all;
}

.table-full-width{
	display: block;
	overflow-x: auto;
}

.gold{
	background: rgb(255,192,19);
	background: -moz-linear-gradient(top, rgba(255,192,19,1) 0%, rgba(247,209,40,1) 32%, rgba(247,209,40,1) 62%, rgba(255,192,19,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,192,19,1) 0%,rgba(247,209,40,1) 32%,rgba(247,209,40,1) 62%,rgba(255,192,19,1) 100%);
	background: linear-gradient(to bottom, rgba(255,192,19,1) 0%,rgba(247,209,40,1) 32%,rgba(247,209,40,1) 62%,rgba(255,192,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc013', endColorstr='#ffc013',GradientType=0 );
	color: #000;
}


.gold-text{
	color: #f5f599;
}


.aqua{
	background: #0165bc;
}

.aqua.lighten-3{
	background: #39a5ef;
}

.aqua.lighten-4{
	background: #98d3fb;
}

.sky.lighten-4{
	background:#98e9fb;
}

.golden.lighten-4{
	background:#fbef98
}

.butter.lighten-4{
	background:#fbca98
}


.aqua-text{
	color: #0165bc;
}

.w12em{
	width: 12em;
}

.bold{
	font-weight: bold;
}

/*Ínicio*/
.titulo_inicio{
	font-size: 18px;
}

.titulo_inicio_noticia{
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
}



.avisos_container .aviso_content{
	border-bottom:1px solid #f5f599;
	margin:5px 0;
	padding: 5px 0;
}

.avisos_container .aviso_content:last-child{
	border-bottom: 0;
}

/*Fim Ínicio*/



/*Ínicio Materialize OVER*/


nav a.sidenav-trigger{
	display: inline-block;
}
.card-image{
	margin-top:0.75rem;
}
.sidenav li>a,.sidenav li>a>i, 
.sidenav li>a>[class^="mdi-"], 
.sidenav li>a li>a>[class*="mdi-"], 
.sidenav li>a>i.material-icons{
	color: #fff;
	font-size: 14pt;
}

.sidenav li{
	border-bottom:1px solid #fff;
}

.sidenav li a{
	padding-right: 0;
}

.row{
	margin-bottom: 0;
}

input,textarea{
	background: #fff!important;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom:1px solid #dccf91;
	box-shadow:0 1px 0 0 #dccf91;
}

[type="checkbox"]:checked+span:not(.lever):before{
	border-bottom:2px solid #dccf91;
	border-right:2px solid #dccf91;
}

.dropdown-content li>a, 
.dropdown-content li>span{
	color:#9e893b;
}

.datepicker-date-display,.timepicker-digital-display,.fc-event, .fc-event-dot{
	background-color: #dac164;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done,.timepicker-close{
	color: #dac164;
}

.datepicker-table td.is-today{
	color: #dac164!important;
}

.datepicker-table td.is-selected{
	background-color: #dac164;
}

.datepicker-day-button:focus,.timepicker-tick.active, .timepicker-tick:hover{
	background-color: rgba(218, 193, 100,0.4);
}

.dropdown-content li>a, .dropdown-content li>span{
	color: #dac164;
}

.timepicker-canvas line{
	stroke:#dac164;
}

.timepicker-canvas-bg{
	fill:#dac164;
}

.timepicker-canvas-bearing{
	fill: #dac164;
}




/*Fim Materialize OVER*/

/*ínicio Calendar OVER*/
.fc-button:focus{
	background-color:#b3b3b3;
}

.fc-event{
	border-color: rgb(79, 33, 40);
}

.fc-unthemed td.fc-today{
	background:rgb(230, 195, 35);
}

.fc-content{
	color:#000;
}
/*Fim Calendar OVER*/






.inicio_noticias .card{
	padding:0;
}

.inicio_noticias .card .card-image{
	margin-top:0;
}

.inicio_noticias .card .card-content{
	padding: 3px;
}


hr{
	border-color:#fff;
}



.coaching_container .card{
	padding: 20px 0;
}

.coaching_container .progress{
	background-color: #dadada;
}

.coaching_container .determinate{
	background-color: #5c5d63;
}

.curso_container .card{
	padding:20px 0;
}



.saque_container input{
	border:1px solid #2f3035!important;
}





/*Agenda*/

/*Coloco em 0 para quando eu dar um empty no cadastrar_evento_tipo_compromisso_select não fique uma linha muito grande vazia por causa da margem*/
.cadastrar_evento_coachee_container,.cadastrar_usuario_coach_container{
	margin: 0;
}


.imagem_container,.imagem_perfil_container{
	width: 80%;
	margin: 0 auto;
	
}

.imagem_container img,.imagem_perfil_container img{
	width: 100%;
}

.uploads .file-field .btn{
	float: none;
}


.menu-item-ajax-load{
	list-style-type: none;

	line-height: 48px;
}

.menu-item-ajax-load a{
	display: block;
	width: 100%;
	font-weight: bold;
	height: 48px;
	padding: 0 32px;
	font-size: 14pt;
	background: #2f3035;
	border-bottom: 1px solid #fff;
}

.menu-item-ajax-load a:hover{
	background-color: rgba(0,0,0,0.05);
}



.menu-item-ajax-load a>i{
	margin-right: 32px;
}

