
	<div class="col s12 center">
		<div class="titulo_inicio">Agenda</div>

		<div class="row">
			<div class="col s12">
				<a class="btn light ajax-load-to" href="/mobsmart/agenda/adicionar-novo-compromisso" data-to="adicionar_compromisso_container">Adicionar novo Compromisso</a>
			</div>

			<div class="adicionar_compromisso_container"></div>

		</div>

		<div class="light margin-t-10">

		<div id='calendar'></div>

		</div>

	</div>


