<div class="col s12">
	
	<div class="card light row">
		
		<form method="POST" action="" enctype="multipart/form-data">
			
			<div class="input-field col s12">
				<span>Tipo do Compromisso</span>
				<select class="browser-default cadastrar_evento_tipo_compromisso_select" name="tipo">
					<option value="0" selected>Coaching</option>
					<option value="1">Outro</option>
				</select>
			</div>
			
			
			<div class="input-field col s12 cadastrar_evento_coachee_container">
				<span>Coachee</span>
				<select class="browser-default" name="id_coachee">
					<%
					if (typeof data.coachee != 'undefined' && data.coachee.length > 0) {
						for (var i = 0; i < data.coachee.length; i++) { %>
							<option value=" <%= data.coachee[i].id %>"> <%= data.coachee[i].nome %></option>				
							<% }
						} %>
					</select>
				</div>
				
				<div class="input-field col s12 margin-t-2rem">
					<label for="data_inicial">Data Inicial</label>
					<input type="text" class="datepicker_container_input" name="data_inicial">
				</div>
				
				<div class="input-field col s12">
					<label for="hora_inicial">Hora Inicial(Não Obrigatório)</label>
					<input type="text" class="timepicker" name="hora_inicial">
					
				</div>
				<div class="input-field col s12">
					<label name="data_final">Data Final</label>
					<input type="text" class="datepicker" name="data_final" id="data_final_compromisso">
				</div>
				<div class="input-field col s12">
					<label for="hora_final">Hora Final(Não Obrigatório)</label>
					<input type="text" class="timepicker" name="hora_final">
				</div>
				
				<div class="input-field col s12">
					<label for="local">Local</label>
					<input type="text" name="local" required="true">
				</div>
				
				<div class="input-field col s12">
					<label>Observações(Não Obrigatório)</label>
					<textarea name="observacoes"></textarea>
				</div>
				
				<button data-href="/sistema/agenda/cadastrar_evento" data-action="<%= data.link_sistema%>/agenda/" class="btn secondary ajax-submit margin-b-10 w12em">
					Salvar <i class="far fa-save-o" aria-hidden="true"></i>
				</button>
				
			</form>
			
			
			
		</div>
		
	</div>
	
	