
	<div class="col s12 center coaching_container">
		<div class="titulo_inicio">Coaching</div>

		<div class="center">Progresso</div>
		<div class="progress">
			<div class="determinate" style="width:30%"></div>
		</div>

		<div class="col s6">
		<div class="card primary lighten-2">
		Sessão 1
		</div>
		</div>
			

		<div class="col s6">
		<div class="card light darken-1">
			Sessão 2
			</div>
		</div>
		<div class="col s6">
		<div class="card light darken-1">
			Sessão 3
		</div>
		</div>

		<div class="col s6">
		<div class="card light darken-1">
			Sessão 4
		</div>
		</div>

		<div class="col s6">
		<div class="card light darken-1">
			Sessão 5
		</div>
		</div>
		<div class="col s6">
		<div class="card light darken-1">
			Sessão 6
		</div>
		</div>
		



	</div>

