<div class="card white row" style="margin-top:0;">
	<div class="col s12 center aqua lighten-4">
		<div class="titulo_inicio">Meu Plano</div>
		<div>
			<%= data.perfil[0].plano %>

		</div>
		<div>
			Aporte Total: R$<%= data.aporte_total[0].aporte_total %>
		</div>
		<div>
			Primeiro aporte: <strong><%= data.aporte_primeiro[0].data_cadastro %></strong>
		</div>

		<div class="">Rendimento Líquido: R$80</div>
	</div>
</div>

