
	<div class="col s12 center">
		<div class="titulo_inicio">Financeiro</div>
		<p>Valor Investido: R$<%= data.carteira_aplicacao[0].carteira_aplicacao %> </p>
		<p>Rendimento: R$<%= data.carteira_aplicacao[0].carteira_rendimento %></p>

		<div class="center margin-t-10">
		<a class="btn light" href="/sistema/financeiro/extrato">Extrato</a>
		</div>
		<div class="center margin-t-10">
		<a class="btn light" href="/sistema/financeiro/saque">Saque</a>
		</div>
		<div class="center margin-t-10">
		<a class="btn light" href="/sistema/financeiro/novo_aporte">Novo Aporte</a>
		</div>

	</div>


