
<div class="col s12 center novo_aporte_container">
	<div class="titulo_inicio">Novo Aporte</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="col s6">


			<div class="row">
				<div class="col s12">
					Perfil
					<div class="input-field">
						<select class="browser-default perfil_saque_select" name="id_plano" class="">
							<%
							if (typeof data.planos != 'undefined' && data.planos.length > 0) {
								for (var i = 0; i < data.planos.length; i++) { %>
								<option value="<%= data.planos[i].id %>"> <%= data.planos[i].nome %></option>				
								<% }
							} %>
						</select>
					</div>
				</div>				
			</div>
			

			<div class="row">
				<div class="col s12">
					Valor:
					<div class="input-field inline">
						<input name="valor" type="number">
					</div>		

				</div> 
			</div>

			<div class="row">
				<div class="col s12">
					Senha:
					<div class="input-field inline">
						<input name="senha" type="password" id="senha_saque">
					</div>

				</div>
			</div>
		</div>

		<div class="card col s6 light">
			<div class="titulo_inicio">Dados para Novo Aporte</div>
			<p><strong>Contatar o suporte: (54) 99999-7938</strong>

<!-- 				 <a rel="" target="_blank" data-action="getURL" href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5554999997938&amp;text=Gostaria de fazer um aporte" data-url="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5554999997938&amp;text=Gostaria de fazer um aporte">(54) 99999-7938</a> -->
<!-- 			<p><strong>Banco:</strong>Itaú</p>
			<p><strong>Agência:</strong>6902</p>
			<p><strong>Conta:</strong>43804-0</p>
			<p><strong>CNPJ:</strong>27.603.882/0001-36</p> -->


		</div>


		<div class="row uploads word-wrap">
			<div class="file-field input-field col s12">
				<div class="btn light">
					<span>Enviar Comprovante</span>
					<input type="file" data-href="/sistema/financeiro/novo_aporte/uploadarcomprovante" id="arquivo" data-container="comprovante_container" class="arquivo_comprovante" accept="image/*,application/pdf">
				</div>
				<div class="file-path-wrapper hide">
					<input class="file-path validate" type="text" placeholder="Ou arraste seu arquivo aqui">
				</div>
			</div>

				<div class="comprovante_container">
				</div>
		</div>




		<div class="row padding-b-10 margin-t-10">
			<div class="col s12">
				<button class="btn primary pedir-aporte" data-href="/sistema/financeiro/pedir-aporte" data-action="<%= data.link_sistema%>/financeiro/">Novo Aporte</button>
			</div>
		</div>

	</form>



</div>


