
	<div class="col s12 center saque_container">
	<div class="titulo_inicio">Saque</div>

	Valor Total para Sacar: R$3.000,00

	<div class="card light">

		<div class="row">
			<div class="col s12">
				Valor:
				<div class="input-field inline">
					<input name="valor">
				</div>		
			
			</div> 
		</div>

		<div class="row">
			<div class="col s12">
				Senha:
				<div class="input-field inline">
					<input name="senha" type="password">
				</div>	
			</div>
		</div>

		<div class="col s12">
			<p>
				<label>
					<input type="checkbox" checked>
					<span>Utilizar os Dados Bancários das Configurações</span>
				</label>
			</p>
			
		</div>

		<div class="row padding-b-10">
			<div class="col s12">
				<a class="btn primary">Sacar</a>
			</div>
		</div>


	</div>

	</div>


