
	<div class="col s12 center">
		<div class="titulo_inicio">Eagle Club</div>

		<div class="col s12 card primary padding-20">
			Noticias
		</div>

		<div class="col s12 card primary padding-20">
			Eventos
		</div>

		<div class="col s12 card primary padding-20">
			Plus
		</div>

	</div>


