
<div class="col s12 center">
	<div class="titulo_inicio">Eagle Club</div>

	<div class="overlay_blur"></div>
	<div class="overlay_box">
		<div class="overlay_descricao">
			Você não possuí dados suficientes para visualizar essa página!
		</div>
		<div class="center margin-t-10">
			<a class="btn light ajax-load" href="<%= data.link_sistema%>">OK</a> 
		</div>
	</div>

	<div class="col s12 card primary padding-20">
		Noticias
	</div>

	<div class="col s12 card primary padding-20">
		Eventos
	</div>

	<div class="col s12 card primary padding-20">
		Plus
	</div>

</div>


