
<div class="col s12 center">
	<div class="titulo_inicio">Projetos Sociais</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/1.jpeg">
		
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/2.jpg">
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/3.jpg">
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/4.jpg">
	</div>
	<img>
</div>









