
	<div class="col s12 center">
		<div class="titulo_inicio">Projetos Sociais</div>
		<p>A Eagle Finances nasceu com o propósito de ajudar as pessoas.</p>
		<p>Parte de todo o lucro da empresa será destinado a projetos sociais e humanitários</p>
		<p>Objetivando despertar uma mentalidade empreendedora e próspera. Os projetos de Educação Financeira visam contribuir com todas as faixas etárias e em todas as classes institucionais como escolas, empresas, associações e igrejas, entre outros.</p>
		<p>Serão promovidos eventos filantrópicos para que investidores possam conhecer e apoiar projetos sociais e humanitários.</p>
	</div>



	
	
	
	
	
	
