
<div class="col s12 center">
	<div class="titulo_inicio">Projetos Sociais</div>

	<div class="overlay_blur"></div>
	<div class="overlay_box">
		<div class="overlay_descricao">
			Você não possuí dados suficientes para visualizar essa página!
		</div>
		<div class="center margin-t-10">
			<a class="btn light ajax-load" href="<%= data.link_sistema%>">OK</a> 
		</div>
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/1.jpeg">
		
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/2.jpg">
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/3.jpg">
	</div>
	<div class="col s6">
		<img style="max-width:100%" src="/assets/imgs/projetos sociais/4.jpg">
	</div>
	<img>
</div>









