
	<div class="col s12 center coaching_container">
		<div class="titulo_inicio">Coachees</div>

		<div class="card light">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Perfil:</th>
						<th>Status</th>
					</tr>
				
				</thead>
				<tbody>
					<tr>
						<td>Renato Tamáres</td>
						<td>Arrojado</td>
						<td>Aplicação Ativa</td>
					</tr>

					<tr>
						<td>Julia Banabé</td>
						<td>Moderado</td>
						<td>Cadastro</td>
					</tr>
					<tr>
						<td>Ariel Castro</td>
						<td>Conservador</td>
						<td>Coaching</td>
					</tr>
				</tbody>
			</table>

	</div>

	</div>

